extends layout

block content
  h2 Assets Add
  

  // Add your dashboard content here
  div
  form.form(action='/asset/add',method='post')
    div(data-role='fieldcontain')
      fieldset.row(data-role='controlgroup')
        label(for='make') Make
           input.form-control.mt-2(id='make',type='text',value='',placeholder='Make',name='make')
        label(for='model') Model
           input.form-control.mt-2(id='model',type='text',value='',placeholder='model',name='model')
        label(for='value') Value
           input.form-control.mt-2(id='value',type='text',value='',placeholder='value',name='value')
        label(for="dropdown") Choose an AssetCategory:
            select#dropdown.form-control.mt-2(name="asset_categoryId")
             each row in assetCategory
              option(value=row.id) #{row.name}
        label(for="dropdown1") Choose an Branch:
            select#dropdown1.form-control.mt-2(name="branchId")
             each row in branch
              option(value=row.id) #{row.name}     
      input.btn.btn-success.mt-3(type='submit',value='Submit',data-transition='fade', data-theme='c')